
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=00e61e013c041520618917d95cefba5c
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
